header {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    justify-content: center;
}

* {
    margin: 0%;
}

.q-toolbar {
    display: flex !important;
    flex-direction: row !important;
    text-align: center;
    justify-content: space-between;
}

.logoTitle {
    display: flex;
    gap: 10px;
}

.logoTitle img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

h1 {
    font-size: 4rem !important;
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.containerWelcome {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.welcomeSection {
    display: flex;
    width: fit-content;
    border-radius: 10px;
    margin: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.welcomeSection p {
    width: 600px;
    font-family: "Lobster", sans-serif;
    font-size: 17px;
}

.welcomeImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 300px;
    border-radius: 5px;
    width: 300px;
    background-image: url(./assets/image1.jpg);
    background-size: cover;
    background-position: center;
    animation: backgroundTransition 6s infinite;
}

@keyframes backgroundTransition {
    0% {
        background-image: url(../assets/image1.jpg);
    }

    25% {
        background-image: url(../assets/image2.jpg);
    }

    50% {
        background-image: url(../assets/image3.jpg);
    }

    75% {
        background-image: url(../assets/image4.jpg);
    }

    100% {
        background-image: url(../assets/image1.jpg);
    }
}

#priceBanner {
    width: auto;
    display: inline-block;
    font-size: 2em;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.History {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyTitle {
    display: flex;
    width: 100%;
    align-items: center;
    border: 0;
}

.historyTitle hr {
    height: 3px;
    background-color: white;
    width: 100%;
    border: 0px;
}

.historyTitle h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    white-space: nowrap;
    font-size: xxx-large;
}

.containerHistory {
    border-radius: 10px;
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    font-size: 18px;
    font-family: serif;
    line-height: 1.5;
}

.partOne,
.partTwo,
.partThree {
    display: flex;
    align-items: center;
    margin: 1%;
    gap: 10px;
}

.partOne img,
.partTwo img,
.partThree img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.servicesTitle {
    display: flex;
    width: 100%;
    align-items: center;
    border: 0;
}

.servicesTitle hr {
    height: 3px;
    background-color: white;
    width: 100%;
    border: 0px;
}

.servicesTitle h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    white-space: nowrap;
    font-size: xxx-large;
}

.servicesCards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 10px;
}

.cardRooms,
.cardExtremeSports,
.cardService {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid white;
}

.cardRooms p,
.cardExtremeSports p,
.cardService p {
    font-size: 17px;
    width: 260px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: white;
    margin: 0%;
}

.cardRooms img,
.cardExtremeSports img,
.cardService img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.btnRooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 200px;
    border-radius: 5px;
    width: 200px;
    background-image: url(../assets/card_habitaciones_image.jpg);
    background-size: cover;
}

.btnSports {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 200px;
    border-radius: 5px;
    width: 200px;
    background-image: url(../assets/card_deportes_image.jpg);
    background-size: cover;
    background-position: center;
}

.btnService {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 200px;
    border-radius: 5px;
    width: 200px;
    background-image: url(../assets/card_services_image.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    display: flex !important;
    flex-direction: column;
    background-color: #1e1e1f;
}

.footerTitle {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    border: 0;
}

.footerTitle hr {
    height: 3px;
    background-color: white;
    width: 100%;
    border: 0px;
}

.footerTitle h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    white-space: nowrap;
    font-size: xxx-large;
}

.textBtn {
    margin: 0% !important;
}

.divInformation {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    border-bottom: 2px solid white;
}

.main,
.about,
.recordingServices,
.contact {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
    color: white;
}

.container {
    margin-top: 150px !important;
}

.main p,
.about p,
.recordingServices p,
.contact p {
    margin: 1%;
    white-space: nowrap;
    font-size: 15px;
}

.iconos {
    padding: 20px;
    margin-top: 3%;
    align-items: center;
    align-self: center;
    display: flex;

    gap: 10px;
}

h3 {
    font-size: 2rem;
}

@media (max-width: 1250px) {
    h1 {
        font-size: 2rem !important;
        white-space: nowrap;
        margin: 1%;
    }

    .q-btn {
        width: 200px !important;
    }

    .servicesCards {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .iconos .q-btn {
        /*iconos del footer*/
        width: 60px !important;
    }
}

@media (max-width: 960px) {
    .welcomeSection p {
        width: 400px;
        font-size: 17px;
        font-family: none;
    }

    .containerHistory {
        width: 90%;
    }

    .welcomeImages {
        width: 270px;
        height: 270px;
    }

    .partOne img,
    .partTwo img,
    .partThree img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 770px) {
    header {
        height: 200px;
    }

    .container {
        margin-top: 200px !important;
    }

    .q-toolbar {
        flex-direction: column !important;
    }

    .logoTitle {
        align-items: center;
        justify-content: center;
    }

    .logoTitle img {
        width: 70px;
        height: 70px;
    }

    .welcomeSection {
        flex-direction: column-reverse;
    }

    .welcomeSection p {
        width: 480px;
        text-align: center;
    }

    .welcomeImages {
        width: 100%;
    }

    .q-btn {
        width: 170px !important;
    }

    .q-toolbar {
        padding: 0%;
    }

    header {
        padding: 0%;
    }

    .titleAndText p {
        font-size: 15px;
    }

    h2 {
        font-size: 2.15rem;
    }

    .partOne img,
    .partTwo img,
    .partThree img {
        width: 150px;
        height: 150px;
    }

    .containerHistory {
        width: 95%;
    }
}

@media (max-width: 660px) {
    .textBtn {
        display: none;
    }

    .q-btn {
        width: 60px !important;
    }

    .welcomeSection p {
        width: 414px;
        font-size: 15px;
        font-family: none;
        white-space: unset;
        max-height: 70px;
        overflow: hidden;

        text-overflow: ellipsis;
    }

    .containerHistory{
        width: 75%;
    }

    .titleAndText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .titleAndText p{
        width: 370px;
    }

    .partOne,
    .partThree{
        display: flex;
        align-items: center !;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .partTwo{
        flex-direction: column;
    }

    .partOne img,
    .partTwo img,
    .partThree img {
        width: 230px;
        height: 230px;
    }

    .divInformation{
        flex-wrap:wrap;
        justify-content: center;
    }

    .main,
    .about,
    .recordingServices{
        width: 240px;
        height: 170px;
        border: 2px solid white;
        border-radius: 10px;
        margin: 1%;
        background-color: rgb(212, 193, 156);
        font-size: 18px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }


    .cardRooms p,
    .cardExtremeSports p,
    .cardService p{
        font-size: 15px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    }

    .btnRooms,
    .btnSports,
    .btnService{
        width: 150px;
        height: 150px;
    }

}


@media (max-width: 540px){


    .containerHistory{
        min-width: 400px !important;
        border: 2px solid white;
    }


    .welcomeSection{
        border: 2px solid white;
    }

    .historyTitle h2,
    .welcomeTitle h2,
    .servicesTitle h2,
    .roomsTitle h2,
    .footerTitle h2{
        font-size: 2.3rem;
    }
}