.q-pa-md{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.q-carousel {
    width: 100%;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);


}

.servicesDiv{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}


.services{
    margin-top: 2%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    gap: 10px;
    justify-content: center;
    color: white;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.services:hover{
    transform: scale(1.1);
}

.services img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.containerWelcome{
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    border-radius: 10px;
    margin:2%;
    color: white;
    border: 2px solid white;
    padding: 15px;
    display: flex;
    box-shadow: 0 0 40px 0 rgba(25, 19, 19, 0.5);
    gap: 20px;
}

.containerWelcome p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    
}

.title{
    display: flex;
    flex-direction: column;
}



footer{
    width: 100%;
}



@media (max-width:850px){

  .containerWelcome{
    gap: 0px;
    flex-direction: column;
  }

} 

@media (max-width: 690px){
    h1{
        font-size: 1.5rem !important;
    }

    .containerWelcome p{
        font-size: 1.2rem;
    }

    .q-carousel{
        height: 250px;
    }
}

@media (max-width: 520px){
    h1{
        font-size: 1.2rem !important;
    }

    .containerWelcome p{
        font-size: 1rem;
    }

    .q-carousel{
        height: 200px;
    }

}